/*Sticky Footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  /*Add Background Texture*/
  background-image: url('../images/black-and-white-concert-confetti-wallpaper-Favim.com-4413518.jpeg');
}

main {
  flex: 1 0 auto;
}